
#about  {
  width: 960px;
  margin: 0 auto;
  padding-top: 0px;
  max-height:500px;
  overflow: scroll;
}

.bio {
  background: black;
  margin-top: 50px;
}

article img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid black 5px;
  margin-right: 50px;
}

p {
  display: inline-block;
  width: 600px;
  height: 210px;
  font-size: 72px;
  background: -webkit-linear-gradient(orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
